
/************************************************************************************************************************************************
************************************************************************************************************************************************
************************************************************************

Filename: Assignment-8
Author: Aditya Suthar
Date: 2023-11-14
Copyright: 2023 - All rights reserved

************************************************************************************************************************************************
************************************************************************************************************************************************
************************************************************************/


/**********************************************************************
**********************************************************************



/****************************  MEDIA STYLES  ***********************************/


        @media (max-width: 601px) {
            .bg-lg-info { background-color: #EC8F5E; }
        }
        @media (min-width: 600px) and (max-width: 991px) {
            .bg-lg-info { background-color: #F3B664; }
        }
        @media (min-width: 992px) {
            .bg-lg-info { background-color: #F1EB90; }

        }